<%- include('../../shared/includes/head', {title: 'Signup' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
        <main>
            <h1>Create New Account</h1>
            <form action="/signup" method="POST">
                <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" autocomplete="username" required>
                </div>
                <div>
                    <label for="confirm-email">Confirm Email</label>
                    <input type="email" name="confirm-email" id="confirm-email" autocomplete="username" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" autocomplete="new-password" minlength="6" required>
                </div>
                <div>
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" name="confirmPassword" autocomplete="new-password" id="confirmPassword" required>
                </div>
                <hr>
                <div>
                    <label for="fullname">Full Name</label>
                    <input type="text" name="fullname" id="fullname" required>
                </div>
                <div>
                    <label for="street">Street</label>
                    <input type="text" name="street" id="street" required>
                </div>
                <div>
                    <label for="postal">Postal Code</label>
                    <input type="text" name="postal" id="postal" minlength="5" maxlength="5" required>
                </div>
                <div>
                    <label for="city">City</label>
                    <input type="text" name="city" id="city" required>
                </div>
                <button class="btn" type="submit">Create Account</button>
                <div id="switch-form"><a href="/login">Login instead</a></div>
            </form>
        </main>
        <%- include('../../shared/includes/footer') %>